@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


header {
	width:100%;
	background:#420D2D;
	height:40px;
	line-height:50px;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:40px;
  padding:0px 8px 0px 8px;
  color:#fff;
  border:0;
  font-size: 30px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  left:0;
  padding:0px 8px 0px 8px;
  color:#fff;
  border:0;
  font-size: 65px;
  line-height: 60px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}

.cart-icon {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px 15px 0px 15px;
  color: #fff;
}

.fa-shopping-cart:before {
  font-size: 25px;
}

.menu {
  z-index:1;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#330821;
  position:absolute;
  text-align:center;}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  color: #fff;
}

.menu li {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 8px 0 8px 0;
  border-bottom:#fff 1px solid;
}

.menu li:hover {
  display: block;
  background:#601442;
  padding: 12px 0 12px 0;
  border-bottom:#fff 1px solid;
}

.menu ul li a {
  text-decoration:none;
  margin: 0px; color:#fff;}


.menu ul li a:hover {
  color: #fff;
  text-decoration:none;
}

.menu a {
  text-decoration:none;
  color:#fff;
}

.menu a:hover {
  text-decoration:none;
  color:#fff;
}

.search {
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search input {
  flex: 1;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 15px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
}

.search-button {
  width: 50px;
  background: #d3d3d3;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

.search-button:hover {
  background: #657A84;
}

.home-title {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px 20px;
  background: linear-gradient(to bottom right, #420D2D, #BF4A8C);
}

.home-title h2 {
  color: white;
  font-weight: 900;
}

.home-products {
  width: 90%;
  margin: auto;
}

.home-products img {
  width: 100%;
  margin: 8px 0;
  position: relative;
}

.home-pumps, .home-boots {
  width: 100%;
  margin: auto;
}

.home-pumps img, .home-boots img, .home-sneakers {
  width: 100%;
  margin: 8px 0;
  position: relative;
}

.home-pumps h3 {
  position: absolute;
  top: 190px;
  right: 30px;
}

.home-pumps button {
  width: 100px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background: #420D2D;
  color: #fff;
  position: absolute;
  top: 250px;
  right: 30px;
}

.home-pumps2 {
  display: none;
}

.home-boots h3 {
  position: absolute;
  top: 330px;
  right: 26px;
  color: #fff;
  font-size: 90px;
  opacity: 0.3;
  font-style: italic;
  font-weight: 900;
}

.home-boots button {
  width: 250px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background: #420D2D;
  color: #fff;
  position: absolute;
  top: 450px;
  right: 35px;
}

.home-boots2 {
  display: none;
}

.home-flats2 {
  display: none;
}

.home-sneakers h3 {
  position: absolute;
  top: 35px;
  right: 10px;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.home-sneakers button {
  width: 150px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background: #420D2D;
  color: #fff;
  position: absolute;
  top: 80px;
  right: 10px;
}

.home-sneakers2 {
  display: none;
}

footer {
  width: 100%;
  background: #420D2D;
  padding: 20px 0;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.fa-envelope-o:before, .fa-phone-square:before,
.fa-twitter-square:before, .fa-facebook-official:before,
.fa-instagram:before {
  flex: 1;
  color: #fff;
  font-size: 35px;
}

.info {
  color: #fff;
  text-align: center;
  font-size: 10px;
}




/*media queries*/




@media (min-width: 360px){
  .home-boots h3 {
    top: 350px;
    right: 32px;
    font-size: 100px
  }
  .home-boots button {
    top: 485px;
    right: 55px;
  }
}
/*end of media query for 360px -- Galaxy S5*/

@media (min-width: 375px){

  .home-pumps h3 {
    right: 50px;
  }

  .home-pumps button {
    right: 55px;
  }

  .home-boots h3 {
    top: 360px;
    right: 30px;
    font-size: 105px;
  }

  .home-boots button {
    top: 500px;
    right: 62px;
  }



}
/*end of media query for 375px -- iPhone 6*/

@media (min-width: 411px) {
  .home-boots h3 {
    top: 370px;
    right: 40px;
    font-size: 111px;
  }

  .home-boots button {
    top: 525px;
    right: 80px;
  }

}/*end of media query for 411px -- Nexus 5S*/


@media (min-width: 414px) {

  .home-boots h3 {
    top: 380px;
    right: 35px;
    font-size: 115px;
  }

  .home-boots button {
    top: 530px;
    right: 83px;
  }

}
/*end of media query for 414px -- iPhone 6 Plus*/

@media (min-width: 435px) {
  .home-pumps h3 {
    top: 200px;
    right: 50px;
  }

  .home-pumps button {
    top: 265px;
    right: 60px;
  }

  .home-boots h3 {
    top: 400px;
    right: 48px
  }

  .home-boots button {
    top: 545px;
    right: 90px;
  }
}/*end of media query for 435px Nexus 6P*/


@media (min-width: 436px) {
  .home-body {
    width: 80%;
    margin: auto;
  }

  .home-pumps, .home-boots, .home-sneakers, .home-flats {
    display: none;
  }

  .home-pumps2, .home-boots2, .home-flats2, .home-sneakers2 {
    display: inline-block;
    text-align: center;
  }

  .home-pumps2 img, .home-boots2 img, .home-flats2 img, .home-sneakers2 img {
    width: 100%;
    margin: 10px 0;
  }

}/*end of media query for 768px -- iPad*/
