@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

header {
	width:100%;
	background:#420D2D;
	height:40px;
	line-height:50px;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:40px;
  padding:0px 8px 0px 8px;
  color:#fff;
  border:0;
  font-size: 30px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  left:0;
  padding:0px 8px 0px 8px;
  color:#fff;
  border:0;
  font-size: 65px;
  line-height: 60px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}

.cart-icon {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px 15px 0px 15px;
  color: #fff;
}

.fa-shopping-cart:before {
  font-size: 25px;
}

.menu {
  z-index:1;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#330821;
  position:absolute;
  text-align:center;}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  color: #fff;
}

.menu li {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 8px 0 8px 0;
  border-bottom:#fff 1px solid;
}

.menu li:hover {
  display: block;
  background:#601442;
  padding: 12px 0 12px 0;
  border-bottom:#fff 1px solid;
}

.menu ul li a {
  text-decoration:none;
  margin: 0px; color:#fff;}


.menu ul li a:hover {
  color: #fff;
  text-decoration:none;
}

.menu a {
  text-decoration:none;
  color:#fff;
}

.menu a:hover {
  text-decoration:none;
  color:#fff;
}

.search {
  /*width: 80%;*/
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search input {
  flex: 1;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 15px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
}

.search button {
  width: 50px;
  background: #d3d3d3;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

.home-title {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px 20px;
  background: linear-gradient(to bottom right, #420D2D, #BF4A8C);
}

.home-title h2 {
  color: white;
  font-weight: 900;
}

.home-products {
  width: 90%;
  margin: auto;
}

.home-products img {
  width: 100%;
  margin: 8px 0;
  position: relative;
}

.home-pumps {
  width: 100%;
  margin: auto;
}

.home-pumps img {
  width: 100%;
  margin: 8px 0;
  position: relative;
}

.home-pumps button {
  width: 100px;
  padding: 10px 10px;
  border: none;
  text-decoration: none;
  background: #420D2D;
  color: #fff;
  position: absolute;
  top: 250px;
  right: 30px;
}

/*
.home-pumps-button {
  width: 100px;
  padding: 8px 10px;
  border: none;
  text-decoration: none;
  background: red;
  position: absolute;
  right: 0;
}*/
